body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  /* background: #f2f2f2; */
  font-size: 1.1rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center; /* Centers all text inside the container */
}
